.buttonWrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    z-index: -1;
    position: absolute;
  }
}

.customBorder {
  stroke-dasharray: 0;
  stroke-width: 8px;
  fill: transparent;
  stroke: rgba(78, 255, 13);
}


@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
